.logo-container > svg {
  @apply w-full h-auto;
}

#hamburger {
  width: 38px;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--color-green-100);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 0px;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 12px;
}

#hamburger span:nth-child(4) {
  top: 24px;
}

#hamburger.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#menuMobile {
  @apply fixed z-30 top-[88px] -right-52 w-0 flex justify-end;
  height: calc(100% - 88px);
}

#menuMobile.open {
  @apply w-full right-0;
}

#menuMobile ul:first-of-type a {
  @apply py-4 inline-block w-full px-3 uppercase font-exo font-bold tracking-wider text-xl hover:bg-dark;
  border-bottom: 3px solid var(--color-dark);
}

#menuDesktop a,
#menuMobileContainer a {
  @apply cursor-pointer relative;
}

#menuDesktop a:hover {
  color: #fff;
  text-decoration: none;
}

#menuDesktop a:before,
#menuDesktop a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  background: #fff;
}

#menuDesktop a:before {
  left: 0;
}
#menuDesktop a:after {
  right: 0;
  background: var(--color-green-100);
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#menuDesktop a:hover:before {
  background: var(--color-green-100);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#menuDesktop a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
